{% extends 'base.html' %}

{% load staticfiles %}

{% block main %}
    <div id="about-us" class="container-fluid base-font">
        <div class="blue">

            <p>ABOUT US</p>

            <p>Your Local Roofing Contractor Here to Serve You </p>

            <p>
                Since 2000, Solution Contractor has been recognized as a top Roofing Contractor in San Francisco. We’ve
                provided clients with a wide range of contracting services for all their remodeling and repairing needs.
                Whether you want to renovate your existing space or add an extension to it, our contracting services are a
                great option for you.
            </p>
            <p>
                At Solution Contractor, we take pride in our excellent workmanship, competitive fees, and the ability to
                deliver outstanding results. Call us today and see what we can do for you.
            </p>
        </div>
        <div class="feedbacks">
            <p class="xxl-text">TESTIMONIALS</p>
            <div class="feedback">
                <div class="row">
                    <img src="{% static 'img/right-quote.png' %}" />
                    <div class="feedback-message">
                        “I really can’t believe how amazing the final result came out. The team at Solution Contractor
                        is super talented and they have the skills and expertise to get the job done right. Highly
                        recommended!”
                    </div>
                    <p class="feedback-author">
                        Skyler Adelson
                    </p>
                </div>
                <div class="row">
                    <img src="{% static 'img/right-quote.png' %}" />
                    <div class="feedback-message">
                        “I really can’t believe how amazing the final result came out. The team at Solution Contractor
                        is super talented and they have the skills and expertise to get the job done right. Highly
                        recommended!”
                    </div>
                    <p class="feedback-author">
                        Skyler Adelson
                    </p>
                </div>
                <div class="row">
                    <img src="{% static 'img/right-quote.png' %}" />
                    <div class="feedback-message">
                        “I really can’t believe how amazing the final result came out. The team at Solution Contractor
                        is super talented and they have the skills and expertise to get the job done right. Highly
                        recommended!”
                    </div>
                    <p class="feedback-author">
                        Skyler Adelson
                    </p>
                </div>
                <div class="row">
                    <img src="{% static 'img/right-quote.png' %}" />
                    <div class="feedback-message">
                        “I really can’t believe how amazing the final result came out. The team at Solution Contractor
                        is super talented and they have the skills and expertise to get the job done right. Highly
                        recommended!”
                    </div>
                    <p class="feedback-author">
                        Skyler Adelson
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}