{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
    <ul class="bxslider">
    {% if project.pk == 1 %}
        <li><img src="{% static 'img/projects/1/test.jpg' %}" /></li>
        <li><img src="{% static 'img/projects/1/test2.jpg' %}" /></li>
        <li><img src="{% static 'img/projects/1/test.jpg' %}" /></li>
        <li><img src="{% static 'img/projects/1/test2.jpg' %}" /></li>
    {% endif %}
    {% if project.pk == 2 %}
        <li><img src="{% static 'img/projects/2/test.jpg' %}" /></li>
        <li><img src="{% static 'img/projects/2/test2.jpg' %}" /></li>
        <li><img src="{% static 'img/projects/2/test.jpg' %}" /></li>
        <li><img src="{% static 'img/projects/2/test2.jpg' %}" /></li>
    {% endif %}
    </ul>
{% endblock %}