{% extends 'base.html' %}

{% load staticfiles %}

{% block main %}
    <div id="services" class="container-fluid base-font">
        <div class="main-text">
            <p class="xxl-text">SERVICES</p>
            <p class="m-text">A Lasting Impact</p> <br>
            <p>
                Solution Contractor Inc is your one-stop-shop for all your remodeling and repair needs.
                Whether you’re looking for a few helpful tips or need a larger group to take on a scale
                project — we’re your go-to source ready to handle it all.
                Browse through the list of our services below, and get in touch for an estimate today.
            </p>
        </div>

        <div class="container-fluid type-of-services">
            <div id="roof-replacement" class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><img src="{% static 'img/roof_replacement.jpg' %}" /></div>
                <div class="description col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p class="m-text">Efficient. Reliable. Exceptional Service.</p>
                    <p class="l-text">ROOF REPLACEMENT </p>
                    <p class="xs-hide">
                        At Solution Contractor Inc, our clients are our number one priority and we go the extra mile making
                        sure they’re completely satisfied with our work. Have a particular project that requires
                        professional attention? We’re ready to tackle even the most complex custom projects. Call us today
                        and find out what we can do for you.
                    </p>
                </div>
            </div>
            <div id="roof-constraction" class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><img src="{% static 'img/new_roof.jpg' %}" /></div>
                <div class="description col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p class="m-text">Customized to Your Preferences </p>
                    <p class="l-text">NEW ROOF CONSTRUCTION </p>
                    <p class="xs-hide">
                        At Solution Contractor Inc, our clients are our number one priority and we go the extra mile making
                        sure they’re completely satisfied with our work. Have a particular project that requires
                        professional attention? We’re ready to tackle even the most complex custom projects. Call us today
                        and find out what we can do for you.
                    </p>
                </div>
            </div>
            <div id="roof-leak"class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><img src="{% static 'img/leak_roof.jpg' %}" /></div>
                <div class="description col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p class="m-text"> It’s All in the Details </p>

                    <p class="l-text">LEAK AND REPAIR SERVICES </p>
                    <p class="xs-hide">
                    At Solution Contractor Inc, our clients are our number one priority and we go the extra mile making
                    sure they’re completely satisfied with our work. Have a particular project that requires
                    professional attention? We’re ready to tackle even the most complex custom projects. Call us today
                    and find out what we can do for you.
                    </p>
                </div>
            </div>
            <div id="roof-inspection" class="row" >
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><img src="{% static 'img/roof_inspection.png' %}" /></div>
                <div class="description col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p class="m-text">It’s All in the Details</p>

                    <p class="l-text">ROOF INSPECTION </p>

                    <p class="xs-hide">
                        At Solution Contractor Inc, our clients are our number one priority and we go the extra mile making
                        sure they’re completely satisfied with our work. Have a particular project that requires
                        professional attention? We’re ready to tackle even the most complex custom projects. Call us today
                        and find out what we can do for you.
                    </p>
                </div>
            </div>
        </div>

        <div class="red-block">
            <p class="m-text">A Lasting Impact </p>
            <p class="xl-text">WHAT WE USE </p>
        </div>

        <div class="what-we-use">
            <div class="row">
                <div id="shinglets" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 description">
                    <p class="l-text">SHINGLETS</p>
                    <p class="xs-hide">
                        Asphalt shingles in particular are less expensive than other types of shingles, which explains
                        their ubiquity. The asphalt operates as a sealant that waterproofs the ceiling of your home. Due
                        to the solidity of asphalt, it also exponentially increases the strength of the shingle. It’s
                        effectively the backbone of the composition. Asphalt shingles also claim a lifespan of 20 and 40
                        years. The absolute worst case scenario is that you have to replace them twice in your lifetime,
                        barring disaster. Note that the warranties for asphalt shingles generally only cover 15 to 25
                        years, though.
                    </p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <img src="{% static 'img/shinglets.jpg' %}"  class="left"/>
                </div>
            </div>
            <div class="row">
                <div id="metal" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 description">
                    <p class="l-text">METAL ROOFING</p>
                    <p class="xs-hide">
                        A metal roof offers superior protection against the elements. For example:<br>
                        FIRE: A metal roof will not burn or support combustion.<br>
                        WIND: Experience at recent hurricanes has shown that metal roofs outperformed other roofing products.<br>
                        WATER: Metal is impervious water absorption, greatly reducing damage to structure. And a metal roof cannot be penetrated by hail.<br>
                        SNOW: Snow slides easily off a metal roofing system, and in areas such as doorways, metal guards prevent snow from falling onto entranceways.<br>
                    </p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <img src="{% static 'img/metal_roofing.jpg'%}"  class=""/>
                </div>
            </div>
            <div class="row" id="cedar">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 description">
                    <p class="l-text">CEDAR SHAKES</p>
                    <p class="xs-hide">
                        In terms of cost-savings, cedar wood is long-lasting, making it an ideal roofing material. Cedar
                        lasts at least 10 years longer than common roofing materials, like asphalt. Cedar wood shingles
                        and shakes are also resistant to strong winds and are durable in hurricanes, heavy rains, hail
                        storms, snowstorms and other types of severe storms.

                        Cedar wood roofs are also energy efficient, providing a natural insulation up to two times that
                        of asphalt shingles. This allows you to conserve home heating and cooling costs, and
                        significantly save on energy bills.
                    </p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <img src="{% static 'img/cedar_shakes.jpg' %}"  class="left"/>
                </div>
            </div>
            <div class="row" id="slate">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 description">
                    <p class="l-text">SLATE</p>
                    <p class="xs-hide">
                        At MichaelG, our clients are our number one priority and we go the extra.
                        At MichaelG, our clients
                        are our number one priority and we go the extra.
                    </p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <img src="{% static 'img/slate.jpg' %}"  class=""/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}