/*FONTS MUST PUT IN SEPARATE FILE*/
@font-face {
    font-family: Vivaldi;
    src: url('vivaldi.ttf');
}

@font-face {
    font-family: Courier New;
    src: url('cour.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('Montserrat-Regular.otf');
}

@font-face {
    font-family: raleway;
    src: url('raleway/Raleway-Regular.ttf');
}