<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Contact us request </h1>
        phone -  <b>{{ data.subject }}</b> <br>
        <div>
            Info about the customer:
            name -  <b>{{ data.name }}</b> <br>
            phone -  <b>{{ data.phone }}</b> <br>
            email - <b>{{ data.email }}</b><br>
            address - {{data.address}} <br>
            message - {{ data.message }}
        </div>
</body>
</html>